<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<header>
    <div class="header-left">PharmaFind 💊</div>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</header>

<div class="container">

    <h2>Add Medicine</h2>

    <form method="POST">
        <input type="text" name="name" placeholder="Medicine name" required><br><br>
        <input type="number" name="stock" placeholder="Stock quantity" required><br><br>
        <button type="submit">Add Medicine</button>
    </form>

    <hr><hr>

<h2>Pharmacy Location</h2>

<form method="POST" action="/update_location">
    <input type="text" name="latitude" placeholder="Latitude" required><br><br>
    <input type="text" name="longitude" placeholder="Longitude" required><br><br>
    <button type="submit">Update Location</button>
</form>

    <h2>Your Medicines</h2>

    {% if medicines %}
        <ul>
            {% for med in medicines %}
                <li>
                    <strong>{{ med[1] }}</strong><br>
                    Stock: {{ med[2] }}<br><br>

                    <a href="/edit/{{ med[0] }}"><button>Edit</button></a>

                    <a href="/delete/{{ med[0] }}"><button class="delete">Delete</button></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No medicines added yet.</p>
    {% endif %}

    <br>
    <a href="/logout">Logout</a>

</div>

</body>
</html>