<!DOCTYPE html>
<html>
<head>
    <title>Edit Medicine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<header>
    <h1>Edit {{ medicine[1] }}</h1>
</header>

<div class="container">

    <form method="POST">
        <label>Update Stock:</label><br><br>
        <input type="number" name="stock" value="{{ medicine[2] }}" required><br><br>
        <button type="submit">Save Changes</button>
    </form>

    <br>
    <a href="/dashboard">Back to Dashboard</a>

</div>

</body>
</html>