<!DOCTYPE html>
<html>
<head>
    <title>Edit Medicine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<header>
    <div class="header-left">PharmaFind 💊</div>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</header>

<div class="container">

    <form method="POST">
        <label>Update Stock:</label><br><br>
        <input type="number" name="stock" value="{{ medicine[2] }}" required><br><br>
        <label>Price (₹):</label><br><br>
        <input type="number" step="0.01" name="price" value="{{ medicine[3] }}" required>
        <button type="submit">Save Changes</button>
    </form>

    <br>
    <a href="/dashboard">Back to Dashboard</a>

</div>

</body>
</html>