<!DOCTYPE html>
<html>
<head>
    <title>PharmaFind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<header>
    <div class="header-left">
        <h1>PharmaFind 💊</h1>
    </div>

    <div class="header-right">
        <a href="/login" target="_blank" rel="noopener noreferrer">Pharmacy Login</a>
    </div>
</header>

<div class="container">

    <p>Find medicines in nearby pharmacies</p>

    <form method="POST" class="search-box">
        <input type="text" name="medicine" placeholder="Search medicine" required>
        <button type="submit">Search</button>
    </form>

    <h2>Results:</h2>

    <ul>
        {% for item in results %}
            <li>
                <strong>{{ item[0] }}</strong><br>
                Shop: {{ item[1] }}<br>
                Stock: {{ item[2] }}
            </li>
        {% endfor %}
    </ul>

</div>

</body>
</html>