<!DOCTYPE html>
<html>
<head>
    <title>Pharmacy Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<header>
    <div class="header-left">PharmaFind 💊</div>
</header>

<div class="container">

    <div class="auth-card">

        <h2 style="margin-bottom:20px;">Pharmacy Login</h2>

        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <div class="auth-links">
            New pharmacy? <a href="/register">Register here</a><br><br>
            <a href="/">Back to Home</a>
        </div>

    </div>

</div>

</body>
</html>